

@import url('https://fonts.googleapis.com/css?family=Muli:200,400');

body{
    background-color:black;
}
.sc1{
    height:70px;
}
.sc2{
    font-size:100px;
    height:50px;
    color:white;
    text-align: right;
    margin: 5px 20px 5px 5px;
    font-family: 'Muli', sans-serif;
    font-weight:200;
}
.sc3{
    height:50px;
}


.rowa{
    margin: auto;
}
.a1{
background-color: #B2B2B2;
text-transform: uppercase;
float: left;
color: black;
border-radius: 50%;
width:70px;
min-height: 60px;
padding-top: 10px;
text-align:center;
/*padding:16px 18px;*/
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
.a2{
background-color: #B2B2B2;
text-transform: uppercase;
float: left;
color: black;
border-radius: 50%;
padding:16px 16px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
.a3{
background-color: #B2B2B2;
text-transform: uppercase;
float: left;
color: black;
border-radius: 50%;
padding:16px 24px;
margin: 5px 5px 5px 5px;
font-family:'pt sans', "Helvetice Neue", "Geneva", "Helvetica", "Arial", sans-serif;
font-size:35px;
}
.a4{
background-color: #FF9D28;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 30px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
------------------------------------------------------------------
.rowb{
    margin: auto;
    overflow:hidden;
}
.b1{
background-color: #4C4C4C;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 28px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;

}
.b2{
background-color: #4C4C4C;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 28px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
.b3{
background-color: #4C4C4C;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 28px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
.b4{
background-color: #FF9D28;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 28px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
------------------------------------------------------------------
.rowc{
    margin: auto;
    overflow:hidden;
}
.c1{
background-color: #4C4C4C;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 28px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
.c2{
background-color: #4C4C4C;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 28px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
.c3{
background-color: #4C4C4C;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 28px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
.c4{
background-color: #FF9D28;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 33px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
------------------------------------------------------------------
.rowd{
    margin: auto;
    overflow:hidden;
}
.d1{
background-color: #4C4C4C;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 28px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
.d2{
background-color: #4C4C4C;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 28px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
.d3{
background-color: #4C4C4C;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 28px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
.d4{
background-color: #FF9D28;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 30px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
------------------------------------------------------------------
.rowe{
    margin: auto;
    overflow:hidden;
}
.e1{
    height:60px;
    width:60px;
    background-color: #4C4C4C;
    margin: 5px 5px 5px 5px;
}
.e2{
background-color: #4C4C4C;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50px;
padding:16px 28px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
width: 120px;
}
.e3{
    height:60px;
    width:60px;
    background-color: #4C4C4C;
    margin: 5px 5px 5px 5px;
}
.e4{
background-color: #4C4C4C;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 34px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}
.e5{
background-color: #FF9D28;
text-transform: uppercase;
float: left;
color: white;
border-radius: 50%;
padding:16px 30px;
margin: 5px 5px 5px 5px;
font-family:'pt sans';
font-size:35px;
}






<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Hello World</title>
    </head>
    <body>
      <div class="sc1">0</div>
      <div class="sc2">0</div>
      <div class="sc3">0</div>

       <div class="rowa">
           <div class="a1">ac</div>
           <div class="a2">+/-</div>
           <div class="a3">%</div>
           <div class="a4">÷</div>
       </div><br>
       <div class="rowb">
           <div class="b1">7</div>
           <div class="b2">8</div>
           <div class="b3">9</div>
           <div class="b4">x</div>
       </div>
       <div class="rowc">
           <div class="c1">4</div>
           <div class="c2">5</div>
           <div class="c3">6</div>
           <div class="c4">-</div>
       </div>
       <div class="rowd">
           <div class="d1">1</div>
           <div class="d2">2</div>
           <div class="d3">3</div>
           <div class="d4">+</div>
       </div>
       <div class="rowe">
           <!-- <div class="e1">0</div> -->
           <div class="e2">0</div>
           <!-- <div class="e3">0</div> -->
           <div class="e4">.</div>
           <div class="e5">=</div>
       </div>

        
    </body>
</html>
